@model ProjectSevenDayNight.Models.DataModels.Feature
@{
    ViewBag.Title = "CreateFeature";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br>
<br>
<br>

<h3>Add Feature</h3>

<form asp-action="CreateFeature" method="post">
    <div class="mb-3">
        <label for="Title" class="form-label">Title</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="Subtitle" class="form-label">Subtitle</label>
        <input asp-for="Subtitle" class="form-control" />
        <span asp-validation-for="Subtitle" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label for="ImageUrl" class="form-label">Image URL</label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Save</button>
    <a href="/Feature/FeatureList" class="btn btn-secondary ms-2">Ingore</a>
</form>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate-unobtrusive/3.2.12/jquery.validate.unobtrusive.min.js"></script>
} 