@model List<ProjectSevenDayNight.Models.DataModels.Feature>
@{
    ViewBag.Title = "Feature List";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<br />
<br />

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="d-flex align-items-center">
                <h4 class="card-title">Özellik Listesi</h4>
                <a href="/Feature/CreateFeature" class="btn btn-primary btn-round ms-auto">
                    <i class="fa fa-plus"></i> Özellik Ekle
                </a>
            </div>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table id="add-row" class="display table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Title</th>
                            <th>Subtitle</th>
                            <th>ImageUrl</th>
                            <th style="width: 10%">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.FeatureId</td>
                                <td>@item.Title</td>
                                <td>@item.Subtitle</td>
                                <td>@item.ImageUrl</td>
                                <td>
                                    <div class="form-button-action d-flex gap-2">
                                        <a href="/Feature/UpdateFeature/@item.FeatureId"
                                           class="btn btn-primary d-flex align-items-center gap-1"
                                           data-bs-toggle="tooltip"
                                           title="Edit">
                                            <i class="fa fa-edit"></i> <span>Update</span>
                                        </a>
                                        <a href="/Feature/DeleteFeature/@item.FeatureId"
                                           class="btn btn-danger d-flex align-items-center gap-1"
                                           data-bs-toggle="tooltip"
                                           title="Delete"
                                           onclick="return confirm('Silmek istediğinize emin misiniz?');">
                                            <i class="fa fa-times"></i> <span>Delete</span>
                                        </a>
                                    </div>

                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> 