@model List<ProjectSevenDayNight.Models.DataModels.TblProduct>
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<div class="container">
    <br />
    <table class="table table-hover">
        <tr>
            <th>#</th>
            <th>Ürün Adı</th>
            <th>Ürün Stok</th>
            <th>Ürün Durumu</th>
            <th>Sil</th>
            <th>Güncelle</th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.ProductName</td>
                <td>@item.ProductStock</td>
                <td>@item.ProductStatus</td>
                <td><a href="/Product/DeleteProduct/@item.ProductId" class="btn btn-danger">Ürün Sil</a></td>
                <td><a href="/Product/UpdateProduct/@item.ProductId" class="btn btn-primary">Ürün Güncelle</a></td>
                


            </tr>
        }
    </table>
    <a href="/Product/CreateProduct/" class="btn btn-primary">Yeni Ürün Girişi</a>
</div>
